header {
    background-image: url(../images/floor.png);
    padding: 100px 0 60px;
    background-size: 100% 100%;
}

h1 {
    color: #424856;
    font-size: 90px;
}

.header_div {
    margin: auto;
    max-width: 1140px;
}

h2 {
    color: #424856;
    font-size: 50px;
}

h3 {
    color: #e36d77;
    font-size: 60px;
}

header a {
    text-decoration: none;
    padding: 20px 40px;
    background-color: #4b5262;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-top: 40px;
    transition: .5s;
}

header a:hover {
    background-color: #333
}

.body_top {
    padding: 40px 0;
    background-color: #e36d77;
    color: white;
}

.body_top img {
    padding-bottom: 15px;
}

.body_top_div {
    margin: auto;
    max-width: 1140px;
    display: flex;
}

.body_top_div p {
    display: inline-block;
    margin: 0 100px 0 10px;
}

.included {
    text-align: center;
    font-size: 25px;
    margin-top: 190px;
}

h4 {
    font-size: 30px;
}

.shop {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item1 {
    height: 710px;
    width: 360px;
    padding: 50px 0;
}

.item {
    justify-content: space-between;
    display: flex;
    padding: 17px 0;
    font-size: 18px;
}

.item span {
    color: #df6d9e;
}

.price_new {
    font-size: 70px;
    font-weight: bold;
    float: left;
    padding-right: 30px;
}

.price_old {
    font-size: 30px;
    padding-top: 10px;
    text-decoration: line-through #df6d9e;
}

.uah {
    font-size: 20px;
}

.item1 a {
    padding: 26px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #02b9d4;
    display: block;
    margin-top: 55px;
    transition: .5s;
}

.item1 a:hover {
    background-color: aquamarine;
}

aside {
    background-color: #f5f2ec;
    padding: 70px 0;
}

aside div {
    margin: auto;
    max-width: 1140px;
}

.aside_comment {
    font-size: 50px;
    padding-bottom: 65px;
}

aside img {
    float: left;
    margin-right: 36px;
}

.comment {
    max-width: 975px;
    margin: auto;
    padding-bottom: 60px;
}

.comment_name {
    font-size: 30px;
    padding: 30px 0;
}

.comment_p {
    font-size: 18px;
}

article {
    max-width: 1043px;
    margin: auto;
    padding: 80px 0;
}

article p {
    font-size: 50px;
    font-weight: bold;
}

.article_div {
    margin-top: 60px;
    font-size: 18px;
    width: 170px;
    text-align: center;
}

article img {
    padding-bottom: 26px;
}

.how_to_order {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    padding: 40px 0;
    color: white;
    text-align: center;
    background-color: #4b5262;
}